[Desktop Entry]
Name=Ressources Monitor
Comment=Un applet de surveillance des ressources pour Cosmic
Keywords=Cosmic;Iced;resources;cpu;memory;
Icon=io.github.goujonmael.cosmic-ext-applet-ressources-monitor-symbolic
Categories=Cosmic;Iced;
Type=Application
Exec=cosmic-ext-applet-ressources-monitor
Terminal=false
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
